[Desktop Entry]
Name=Emojione Picker
Comment=Emoji Picker for Ubuntu
Icon=/usr/share/emojione-picker/assets/icon.svg
Exec=/usr/bin/emojione-picker
Terminal=false
Type=Application
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10


