[Desktop Entry]
Name=Emojione Picker
Comment=Emoji Picker for Ubuntu
Icon=emojione-picker
Exec=emojione-picker
Terminal=false
Type=Application
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10


